.section svg {
  fill: transparent;
}

.menuContent {
  padding: 24px;
  width: 416px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #d3d3d3;
}

.menuContent > ul {
  gap: 40px;
}

.section {
  margin-bottom: 24px;
}

.section:last-of-type {
  margin-bottom: 0;
}

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #231f20;
  margin: 0 0 12px 0;
  padding: 10px;
}

.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.optionButton {
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 12px 14px;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
  color: #231f20;
  transition: all 0.2s ease-in-out;

  /* Styles for Language Button */
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.optionButton:hover {
  background-color: #f74df4;
  border-color: #f74df4;
  color: #fff;
}

.optionButton:hover .currencyCode {
  color: #fff;
}

.selected {
  background-color: #ffffff;
  border-color: #f74df4;
}

.currencyOption {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 140px;

  /* Override for Currency Button */
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.currencyName {
  font-weight: 600;
}

.currencyCode {
  font-size: 12px;
  font-weight: 400;
  color: #818181;
  transition: all 0.2s ease-in-out;
}

.menuIconBottom {
  background-color: rgba(0, 0, 0, 0.062);
  border-radius: 50%;
} 

.menuIcon svg {
  fill: transparent;
}
  