@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;

  @media (--viewportMedium) {
    justify-content: space-between;
  }

  & label {
    font-family: Mulish;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    color: #231F20;
    padding-bottom: 8px;
    margin-bottom: 0;
    @media (max-width: 768px) {
      font-family: Mulish;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
    }
  }

  & input {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 9px 16px 9px 16px;
    font-family: Mulish;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    &:placeholder {
      color: #D3D3D3;
    }
    @media (max-width: 768px) {
      font-family: Mulish;
      font-weight: 400;
      font-style: Regular;
      font-size: 12px;
    }
  }

}

.defaultUserFields {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media (--viewportMedium) {
    margin-top: 20px;
  }
}

.formTitle {
  & h2 {
    font-family: Istok Web;
    font-weight: 700;
    font-style: Bold;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #151515;
    margin: 0 0 20px;

    @media (max-width: 768px) {
      font-family: Istok Web;
      font-weight: 700;
      font-style: Bold;
      font-size: 22px;
      leading-trim: NONE;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      margin-bottom: 8px;

    }
  }

  & p {
    font-family: Mulish;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #717171;

    @media (max-width: 768px) {
      font-family: Mulish;
      font-weight: 400;
      font-style: Regular;
      font-size: 10px;
      leading-trim: NONE;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;

    }
  }
}

.row,
.customFields {
  margin-top: 20px;

  @media (--viewportMedium) {
    margin-top: 20px;
  }
}

.firstNameRoot {
  width: calc(50% - 9px);
}

.lastNameRoot {
  width: calc(50% - 9px);
}

.password {
  /* composes: marketplaceModalPasswordMargins from global; */
  margin-top: 20px;
}

.formContent {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.bottomWrapper {
  /* composes: marketplaceModalBottomWrapper from global; */
  max-width: 300px;
  margin: 0 auto;

  & button {
    background-color: #F74DF4;
    color: #fff;
    min-height: 41px;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Mulish;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 12px;
    }


  }
}