@import '../../../styles/customMediaQueries.css';

.root {}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.avatarWrapper {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-right: 29px;

  @media screen and (max-width: 768px) {
    width: 41px;
    height: 41px;
    margin-right: 10px;
  }
}

.profileBadge {
  position: absolute;
  bottom: 0;
  right: 0;

  & svg {
    fill: transparent;

    @media screen and (max-width: 768px) {
      width: 12px;
      height: 12px;
    }
  }
}

.avatar {
  flex-shrink: 0;
  border: 4px solid #FBA6F9;
  background-color: #ddd;
  background-image: none;

  @media screen and (max-width: 768px) {
    width: 41px;
    height: 41px;
    border: 2px solid #FBA6F9;

  }
}

.info {
  flex: 1;
}

.heading {
  composes: p from global;
  margin: 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.aboutTitle {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #231F20;
  margin-top: 40px;

  @media screen and (max-width: 768px) {
    margin-top: 15px;
    font-size: 10px;
  }
}

.link {
  white-space: nowrap;
}

.mobileBio,
.desktopBio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 18px 0 0 0;
  transition: all 1s ease-in;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.mobileBio {
  font-family: Mulish;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8D8D8D;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.owner {
  font-family: Istok Web;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  margin: 0;
  color: #8D8D8D;
  padding: 0;
  text-transform: capitalize;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.desktopBio {
  display: none;

  @media (--viewportMedium) {
    display: inline;

    &::before {
      content: ' ';
    }
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}

.showMore {
  /* Position and dimensions */
  display: inline;
  padding: 0;

  /* Borders */
  border: none;

  /* Colors */
  color: var(--marketplaceColor);

  /* Text size should be inherited */
  text-decoration: none;

  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;

  margin: 0 0 0 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.links {
  margin-top: 13px;

  @media (--viewportMedium) {
    margin: 16px 0 0 0;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.withBioMissingAbove {
  @media (--viewportMedium) {
    /* Fix baseline alignment if bio is missing from above */
    margin-top: 0px;
  }
}

.linkSeparator {
  margin: 0 10px;
  color: var(--marketplaceColor);
}

.headingRow {
  display: flex;
  flex-direction: column;
  font-family: Istok Web;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.editProfileDesktop {
  composes: p from global;
  display: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  @media (--viewportMedium) {
    display: inline;
  }
}

.editProfileMobile {
  composes: p from global;
  display: inline;

  @media (--viewportMedium) {
    display: none;
  }
}

.contact {
  composes: a from global;
  font-weight: var(--fontWeightMedium);
}