.root {
}

.input {
}
.textarea {
}

.inputSuccess {
}
.inputError {
  border: var(--borderErrorField);
}

.labelAndGuide {
  display: flex;
  align-items: center;
  position: relative;
}

.imgWrapper {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-bottom: 0.4rem;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  color:  #333;
  padding: 6px 10px;
  border-radius: 6px 6px 6px 0;
  position: absolute;
  top: auto;
  bottom: 100%; 
  left: 0.7rem; /* sejajar sisi kiri parent (label + icon) */
  transform: translateY(4px);
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
  border: 1px solid black;
  font-size: 12px;
}

.imgWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
