.fullArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.activeLabel {
  z-index: 1;
}

.labelContainer {
  &:hover {
    z-index: 1;
  }

  &:focus {
    outline: none;
  }
}


.infoCardContainer {
  z-index: 1;
  @media (max-width: 768px) {
    position: fixed;
    top: unset !important;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transform: unset !important;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0 0;

  }
}
