@import '../../../../../styles/customMediaQueries.css';

.input {
  border: 0;
  padding-left: 0px;
  text-overflow: ellipsis;
  cursor: pointer;
  background: transparent;
  padding: 0;
  height: auto;
  font-family: Mulish;
  font-weight: 700;
  font-style: Regular;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  color: #F74DF4;

  @media (--viewportMedium) {
    font-size: 14px;
    width: 90%;
  }

  &:hover,
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:hover::placeholder {
    color: #9CA3AF;
    transition: 0.1s all;
    font-weight: 400;
  }

  &:focus::placeholder {
    color: #f74df4;
    transition: 0.1s all;
    font-weight: 400;
  }

  &::placeholder {
    color: #9CA3AF;
    transition: 0.1s all;
    font-weight: 400;
  }

  @media (--viewportMedium) {}
}

.inputWithCurrentLocation {
  composes: input;

  &:hover {
    color: #F74DF4;
    border: none;

    &::placeholder {
      color: #F74DF4;
      font-weight: 700;
    }
  }

  &::placeholder {
    color: #F74DF4;
    font-weight: 700;
  }
}

.locationAutocompleteInputIcon {
  display: flex;
  align-items: center;
  align-self: stretch;
  border: none;
  background-color: var(--colorWhite);
}

.icon {
  flex: 0 0 auto;
}

.root {
  height: 36px;

  @media (--viewportMedium) {
    height: 56px;
  }

  @media ( --viewportLarge) {
    height: auto;
  }

}

.customField {
  flex: 1;
  color: var(--colorGrey800);
  padding: 5px 17px;
  height: 36px;
  align-items: center;
  gap: 18px;

  @media (--viewportMedium) {
    margin-bottom: 0;
    padding: 0 0 0 16px;
    height: 56px;
  }

  @media ( --viewportLarge) {
    height: auto;
  }


  &>div:last-child {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.predictions {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 16px);
  min-width: 288px;
  margin-top: 0;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);

  @media (--viewportLarge) {
    top: 68px;
    right: 0;
    left: auto;
    transform: none;
    width: 100%;

    &.alignLeft {
      left: -8px;
      right: auto;
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    height: 100%;
    background: #0000004d;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100% !important;
    transform: unset;
    padding-bottom: 0 !important;

    &>ul {
      background-color: white;
      max-width: 574px;
      max-height: 95vh;
      width: 100% !important;
      overflow: hidden;
      border-radius: 12px;
      overflow: visible;
      max-width: 100%;
      max-height: 85vh;
      border-radius: 12px 12px 0px 0px;
      padding-bottom: 34px;
      min-height: 65vh;
      display: flex;
      flex-direction: column;
      z-index: 3;
    }
  }
}