@import '../../../../styles/customMediaQueries.css';

.root {
  /* border-top: 1px solid var(--colorGrey100); */
}

.footer {
  max-width: 1415px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin: 0 auto;
  padding: 60px 32px 19px;
  background-color: #ffffff;
  border-radius: 20px;
  @media (max-width: 1023px) {
    padding: 50px 32px 50px;
  }
}
.footerInner {
  max-width: calc(1237px + 64px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 44px;
  @media (max-width: 767px) {
    gap: 0px;
  }
}
.footer ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 1px;
}

.linkList {
  list-style-type: none;
  padding-left: 12px;
}

.content {
  display: grid;
  justify-content: center;
  align-content: end;
  grid-auto-rows: auto;
  grid-gap: 32px;
  grid-row-gap: 23px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'details'
    'grid'
    'links';
  @media (max-width: 1023px) {
    grid-row-gap: 0;
  }
}

.grid {
  grid-area: grid;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-auto-rows: auto;
  grid-gap: 32px;
}
:global(#footer-block-2),
:global(#terms-and-privacy) {
  margin: 49px 0 0;
  @media (max-width: 1023px) {
    margin: 0;
  }
}
:global(#contact_block) {
  & p {
    border: 1px solid #ece5f0;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;

    font-family: Mulish;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #191f1b;
    white-space: pre;
    @media (max-width: 1023px) {
      font-size: 9px;
    }
    & strong {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0%;
      color: #f74df4;
      display: block;
      @media (max-width: 1023px) {
        font-size: 9px;
      }
    }
    &:nth-child(1) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 14px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_126_582)'%3E%3Cpath d='M19.4561 14.678L16.6651 11.8869C15.6683 10.8901 13.9737 11.2889 13.575 12.5847C13.2759 13.4819 12.2791 13.9803 11.382 13.7809C9.38839 13.2825 6.69701 10.6908 6.1986 8.59746C5.89956 7.7003 6.49765 6.70349 7.39477 6.40448C8.69062 6.00576 9.08934 4.31119 8.09254 3.31438L5.30148 0.523324C4.50403 -0.174441 3.30786 -0.174441 2.6101 0.523324L0.716166 2.41726C-1.17777 4.41087 0.915528 9.69395 5.60052 14.3789C10.2855 19.0639 15.5686 21.2569 17.5622 19.2633L19.4561 17.3694C20.1539 16.5719 20.1539 15.3757 19.4561 14.678Z' fill='%23F74DF4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_126_582'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: cover;
      }
    }
    &:nth-child(2) {
      position: relative;
      margin-top: 10px;
      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 14px;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_126_590)'%3E%3Cpath d='M19.8697 4.53125L14.1875 10.2134L19.7295 15.7595C19.8973 15.471 20.0005 15.1403 20.0005 14.7832V5.21777C20.0005 4.97535 19.9506 4.74562 19.8697 4.53125Z' fill='%23F74DF4'/%3E%3Cpath d='M18.0433 3.26074H1.95633C1.63105 3.26074 1.32875 3.34809 1.05859 3.48914L9.5998 12.0303C9.84762 12.2781 10.278 12.2781 10.5215 12.0303L19.0225 3.5334C18.7334 3.36453 18.4017 3.26074 18.0433 3.26074Z' fill='%23F74DF4'/%3E%3Cpath d='M0.164102 4.4375C0.0596484 4.67664 0 4.93961 0 5.21688V14.7823C0 15.1337 0.100508 15.4591 0.263398 15.7445L5.86523 10.1386L0.164102 4.4375Z' fill='%23F74DF4'/%3E%3Cpath d='M13.2606 11.1393L11.4476 12.9567C10.686 13.7096 9.45211 13.722 8.67801 12.9567L6.79105 11.0654L1.25 16.6025C1.46973 16.6882 1.70664 16.7395 1.95629 16.7395H18.0432C18.2868 16.7395 18.5177 16.6894 18.733 16.6077L13.2606 11.1393Z' fill='%23F74DF4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_126_590'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-size: cover;
      }
    }
  }
}
.footerBottom {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }
  & > div {
    margin: 0;
  }
}
:global(#last_privacy_block) {
  & ul {
    display: flex;
    gap: 30px;
    & li {
      line-height: 18px;
      padding: 0px;
      & a {
        font-family: Mulish;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        color: #8d8d8d;
        @media (max-width: 1023px) {
          font-size: 9px;
          line-height: 14px;
        }
      }
    }
  }
}
:global(#footer) {
  background-color: #fafafa;
  padding: 0 12px;
  @media (max-width: 767px) {
    padding: 0 7.5px;
  }
  & > div {
    padding: 0 0 12px;
    @media (max-width: 767px) {
      padding: 0 0 5px;
    }
  }
}
.gridCol1,
.gridCol2,
.gridCol3,
.gridCol4 {
  grid-template-columns: 1fr;
}
.gridCol4 {
  justify-content: end;
  & h2 {
    font-family: Istok Web;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0%;
    color: #231f20;
    padding: 0;
    margin: 0 0 20px;
    @media (max-width: 1023px) {
      font-size: 15px;
      line-height: 22px;
      margin: 0 0 10px;
    }
  }
  & ul {
    & li {
      line-height: 18px;
      padding: 0 0 10px;
      @media (max-width: 1023px) {
        line-height: 12px;
        padding: 0 0 8px;
      }
      & a {
        font-family: Mulish;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0%;
        color: #8d8d8d;
        @media (max-width: 1023px) {
          font-size: 9px;
        }
      }
    }
  }
}
.detailsInfo {
  grid-area: links;
}

.slogan {
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -2.3%;
  color: #8d8d8d;
  display: block;
  @media (max-width: 767px) {
    font-size: 9px;
    line-height: 12px;
  }
}
.sloganMobile {
  grid-area: details;
  padding-top: 20px;
  padding-bottom: 50px;

  @media (--viewportLarge) {
    display: none;
  }
}
.sloganDesktop {
  display: none;

  @media (--viewportLarge) {
    display: block;
  }
}

.logo {
  grid-area: logo;
}

.copyright {
  display: inline-block;
  font-family: Mulish;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;

  color: #8d8d8d;
  margin-top: 0px;
  @media (max-width: 1023px) {
    font-size: 9px;
    line-height: 14px;
  }
}

.icons {
  margin-top: 24px;

  @media (--viewportLarge) {
    margin-top: 0px;
  }
  & a {
    padding: 23px 10px;
    @media (max-width: 767px) {
      padding: 23px 5px;
    }
  }
  & svg {
    @media (max-width: 767px) {
      width: 18px;
      height: 18px;
    }
  }
}

.icon {
  font-size: 28px;
  margin: 15px 15px 0px 0px;
  padding: 10px 15px;
}

.logoLink {
  display: inline-block;
  padding: 0;

  &:hover {
    text-decoration: none;
  }
}
.logoWrapper {
  max-width: 370px;
  height: 50px;
  width: 140px !important;
  @media (max-width: 1023px) {
    height: 35px;
    width: 98px !important;
  }
}
.logoImage {
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  object-position: left;
  height: 50px;
  width: 140px !important;
  max-height: 50px;
  @media (max-width: 1023px) {
    height: 35px;
    width: 98px !important;
  }
  @media (--viewportLarge) {
    max-width: min(100%, 298px);
  }
}
.contact_block {
  grid-area: grid;
}

@media (min-width: 350px) {
  .gridCol2,
  .gridCol3,
  .gridCol4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .gridCol3,
  .gridCol4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--viewportMedium) {
  .gridCol4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (--viewportLarge) {
  .detailsInfo {
    grid-area: details;
  }

  .contentCol1 {
    /* 1/6 of space is for grid, and grid uses 1 column internally */
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas:
      'logo . .'
      'details . grid'
      'details . grid'
      'details . grid';
  }
  .contentCol2 {
    /* 2/6 of space is for grid, and grid splits it to 2 columns */
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
      'logo . .'
      'details . grid'
      'details . grid'
      'details . grid';
  }
  .contentCol3 {
    /* 3/6 of space is for grid, and grid splits it to 3 columns */
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
      'logo . . .'
      'details . grid grid'
      'details . grid grid'
      'details . grid grid';
  }
  .contentCol4 {
    /* 4/6 of space is for grid, and grid splits it to 4 columns */
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas:
      'logo . .'
      'details grid grid'
      'details grid grid'
      'details grid grid';
  }

  .gridCol1 {
    grid-template-columns: 1fr;
  }

  .gridCol2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridCol3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .gridCol4 {
    grid-template-columns: 15% 25% 12% 18% 181px;
    gap: 0;
  }
}
.gridCol4 {
  & > div {
    @media (max-width: 600px) {
      &:nth-child(1) {
        grid-area: logo;
      }
      &:nth-child(2) {
        grid-area: logo2;
      }
      &:nth-child(3) {
        grid-area: logo3;
      }
      &:nth-child(4) {
        grid-area: logo4;
      }
    }
  }
  @media (max-width: 600px) {
    grid-template-areas:
      'logo  logo3'
      'logo2 logo4';
    row-gap: 0;
  }
  @media (max-width: 767px) {
    & :global(#contact_block) {
      display: none;
    }
  }
}
.mobilContact {
  @media (max-width: 767px) {
    margin-bottom: 70px;
  }
  @media (min-width: 768px) {
    display: none;
  }
  & :global(#contact_block) {
    & > div {
      @media (max-width: 767px) {
        display: flex;
        gap: 20px;
        & p {
          margin: 0;
          padding: 10px 24px 10px 40px;
        }
      }
    }
  }
}
