@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & p {
    line-height: 1.3;
  }
}

.content {
  display: flex;
  flex-direction: column; /* Mobile default */
  flex-grow: 1;
  padding: 40px 24px 0 24px; /* Mobile default */
  max-width: 1440px;
  margin: 0 auto;
  gap: 32px; /* Mobile default */
  color: #231f20;

  @media (--viewportMedium) {
    flex-direction: row;
    padding: 0 112px;
    gap: 76px;
  }
}

.leftColumn {
  width: 100%; /* Mobile default */
  text-align: center; /* Mobile default */

  @media (--viewportMedium) {
    width: 444px;
    padding-top: 80px;
    position: sticky;
    top: 80px;
    align-self: flex-start;
    text-align: left;
  }
}

.rightColumn {
  width: 100%; /* Mobile default */
  padding-top: 0; /* Mobile default */

  @media (--viewportMedium) {
    width: 548px;
    padding-top: 80px;
  }
}

.tag {
  font-size: 10px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: rgba(251, 166, 249, 0.2);
  color: var(--marketplaceColor);
  border-radius: 31px;
  display: inline-block;
  margin-bottom: 20px;

  @media (--viewportMedium) {
    font-size: 14px;
  }
}

.title {
  font-size: 25px; /* Mobile default */
  font-weight: 700;
  margin-bottom: 20px;
  font-family: Istok Web;
  line-height: 1.3;

  @media (--viewportMedium) {
    font-size: 53px;
  }
}

.title span {
  color: #f74df4;
}

.description {
  font-size: 12px;
  font-family: Mulish, sans-serif;
  color: #5e5e5e;
  margin-bottom: 40px;

  @media (--viewportMedium) {
    font-size: 16px;
  }
}

.tabs {
  display: flex;
  margin-bottom: 40px;
  justify-content: center; /* Mobile default */

  @media (--viewportMedium) {
    justify-content: flex-start;
  }
}

.tab {
  font-size: 10px;
  font-weight: 400;
  padding: 8px 16px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  background-color: white;

  @media (--viewportMedium) {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.activeTab {
  font-size: 10px;
  font-weight: 700;
  padding: 8px 16px;
  border: 1px solid #f74df4;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  background-color: white;
  font-family: Mulish, sans-serif;

  @media (--viewportMedium) {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.tab:last-child,
.activeTab:last-child {
  margin-right: 0;
}
