@import '../../styles/customMediaQueries.css';

.root {
  margin: 0;
  padding: 0;
  border: none;
}

.list {
  margin: 0;
}

.twoColumns {
  @media (--viewportMedium) {
    columns: 2;
  }
}

.item {
  padding: 4px 0 2px 0;

  /* Fix broken multi-column layout in Chrome */
  page-break-inside: avoid;

  @media (--viewportMedium) {
    padding: 6px 0 2px 0;
  }
}
.labelIconWrapper {
  position: relative;
  display: inline-block;
  margin-right: 8px; /* beri jarak antara ikon dan label jika perlu */
}

.img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-bottom: 0.4rem;
  margin-left: 8px;

}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  color:  #333;
  padding: 6px 10px;
  border-radius: 6px 6px 6px 0;
  position: absolute;
  top: auto;
  bottom: 100%; 
  left: 0; /* sejajar sisi kiri parent (label + icon) */
  transform: translateY(4px);
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
  border: 1px solid black;
  font-size: 12px;
}

.labelIconWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

