.promotedBadge {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  /* padding: 4px 12px 4px 4px; */
  padding-left: 1px;
  padding-right: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #EB2BE8;
  border-radius: 50%;
  margin-right: 8px;
  padding-right: 1px;
  padding-top: 1px;
}

.promotedText {
  font-size: 10px;
  font-weight: 700;
  color: #333;
}
