@import '../../../styles/customMediaQueries.css';

.root {
}

.icon {
  position: relative;
  margin-left: 12px;
  transition: all 0.2s ease-out;

  @media (--viewportMedium) {
    margin-left: 36px;
  }
}

.iconArrowAnimation {
  transform: rotate(-180deg);
}

.menuContent {
  margin-top: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 218px;
  border-radius: 12px;
  border: 1px solid #D3D3D3;
  box-shadow: 0px 4px 10px 0px #0000001A;
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0 !important; 
    
    height: 100%;
    background: #0000004D;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 0px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100% !important;
    & >ul{
      background-color: white;
      max-width: 574px;
      max-height: 95vh;
      width: 100% !important;
      overflow: hidden;
      border-radius: 12px;
      overflow: visible;
      max-width: 100%;
      max-height: 85vh;
      border-radius: 12px 12px 0px 0px;
    }
  }

}

/* left animated "border" like hover element */
.menuItemBorder {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  margin-left: 12px;
  background-color: var(--colorWhite);
 
}

/* left static border for selected element */
.menuItemBorderSelected {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid #FBA6F9;
  margin-left: 12px;
 
  padding: 1px;
  & .menuItemBorderIcon{
    background-color: var(--marketplaceColor);
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: block;
  }
}

.menuHeading {
  font-weight: var(--fontWeightSemiBold);
  color: var(--colorGrey700);
  margin-top: 24px;
  margin-left: 30px;
  margin-right: 30px;
}

.menuItem {
  font-family: Mulish;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
color: #231F20;  

  /* Layout */
  position: relative;
  min-width: 218px;
  margin: 0;
  padding: 6px 20px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:focus,
  &:hover {
    color: var(--colorBlack);
  }



  &:disabled {
    color: var(--colorGrey300);
    cursor: default;
  }

}

.clearMenuItem {
  composes: h4 from global;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey300);

  /* Layout */
  position: relative;
  min-width: 300px;
  margin: 0;
  padding: 32px 30px 18px 30px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  cursor: pointer;
  transition: width var(--transitionStyleButton);

  &:focus,
  &:hover {
    color: var(--colorGrey700);
    transition: width var(--transitionStyleButton);
  }
}
