.root {
  background: linear-gradient(to right, #ffffff 0%, #ffffff 20%, #ffd1fe 100%);
  padding: 80px 0;
  margin: 0 8px;
  /* width: 100%; */
  border-radius: 20px;
}

.content {
  max-width: 1200px; /* Standard max-width for content */
  margin: 0 auto;
  text-align: left;
  padding: 0 24px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 16px;
  color: #222222;
}

.subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #4a4a4a;
}

.tagline {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 32px;
  color: #4a4a4a;
}

.button {
  background-color: #f74df4;
  width: fit-content;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: white;
  color: #f74df4;
  box-shadow: none;
}
