.labelAndGuide {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.imgWrapper {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;
}

.img {
  color: transparent;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

.labelAndGuide:hover .img {
  color: #333;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  color:  #333;
  padding: 6px 10px;
  border-radius: 6px 6px 6px 0;
  position: absolute;
  top: auto;
  bottom: 100%; 
  left: 0.7rem; 
  transform: translateY(4px);
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
  border: 1px solid black;
  font-size: 12px;
}

.imgWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}