:global(#hero_section) {
  margin-top: -90px;
  @media (max-width: 767px) {
    margin-top: 10px;
    height: auto !important;
  }
  & h1 {
    font-family: Istok Web;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #231f20;
    max-width: 748px;
    text-wrap: auto;
    @media (max-width: 767px) {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 25px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      max-width: 302px;
    }
  }
  & > div {
    &:nth-child(1) {
      /* padding: 0 12px; */
      & img {
        @media (max-width: 767px) {
          object-position: 40% 10%;
        }
      }
    }
    &:nth-child(2) {
      padding: 115px 24px 56px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 767px) {
        padding: 81px 21px 15px;
      }
      & header {
        @media (max-width: 767px) {
          padding: 0 0px;
        }
      }
    }
  }
}
:global(#select_your_properties) {
  background-color: #fafafa;
  max-width: 1440px;
  margin: 0 auto;
  & > div {
    padding: 100px 0 80px;
    @media (max-width: 767px) {
      padding: 75px 0;
    }
  }
  & header {
    @media (max-width: 767px) {
      display: block;
    }
    & h2 {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      color: #231f20;
      padding: 0;
      margin: 0px 0 10px;
      @media (max-width: 767px) {
        font-family: Istok Web;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin: 0px 0 5px;
      }
    }
    & p {
      font-family: Mulish;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;

      color: #8d8d8d;
      padding: 0;
      margin: 0px 0 30px;
      text-wrap: auto;
      @media (max-width: 767px) {
        font-family: Mulish;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        width: 100%;
        max-width: 100%;
        margin: 0px 0 15px;
      }
    }
  }
}
:global(#needHelpButton) {
  box-shadow: 2px 4px 4px 1px #0000001a;
  background-color: #f74df4;
  border-radius: 10px;
  height: 44px;
  min-height: 44px;
  width: fit-content;
  padding: 7px 14px;

  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;

  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 26px 0 auto;
  @media (max-width: 767px) {
    display: none;
  }
}
:global(#different_from) {
  & > div {
    padding: 100px 0;
    & :global(#different_from-block-1){
      overflow: hidden;
      padding-bottom: 75px;
      @media (max-width: 767px) {
        padding-bottom: 0px;
      }
      & img{
        text-align: right;
        transform: translateX(50px) translateY(50px) scale(3.2);
      
        object-fit: contain;
        @media (max-width: 767px) {
          transform: translateX(20px) translateY(10px) scale(3.2);
        }
      }
    }
    & :global(#different_from-block-2){ 
      overflow: hidden;
      & img{
        text-align: right;
        transform: translateX(100px) scale(2.4);
      
        object-fit: contain;
        @media (max-width: 767px) {
          transform: translateX(50px) translateY(10px) scale(2.2);
        }
      }
    }
    
    @media (max-width: 767px) {
      padding: 35px 0;
    }
    & > div {
      max-width: calc(1220px + 40px);
      padding: 0 20px;
      margin: 0 auto;
      gap: 28px;
      @media (max-width: 767px) {
        max-width: calc(100vw - 0px);
        overflow: hidden;
      }
      & > div {
        background: #f2f2f2;
        border-radius: 20px;
        padding: 0px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        & p {
          font-family: Mulish;
          font-weight: 400;
          font-size: 9px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #8d8d8d;

          background-color: #fff;
          box-shadow: 0px 3.05px 15.24px 0px #0000001a;
          border-radius: 15.24px;
          padding: 11px 44px 11px 61px;
          position: absolute;
          right: 16px;
          bottom: 43px;
          @media (max-width: 1023px) {
            padding: 6px 44px 6px 32px;
            font-size: 6px;
            border-radius: 8.62px;
            right: 25px;
            bottom: 15px;
          }
          & strong {
            font-family: Mulish;
            font-weight: 600;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0%;
            color: #231f20;
            display: block;
            @media (max-width: 1023px) {
              font-size: 8px;
            }
          }
        }
        & h3 {
          font-family: Istok Web;
          font-weight: 700;
          font-size: 30px;
          line-height: 130%;
          letter-spacing: 0%;
          padding: 0 0 20px;
          @media (max-width: 1200px) {
            font-size: 15px;
            padding: 0 0 8px;
          }
        }
        & ul {
          margin: 0;
          list-style: none;
          padding-left: 0;
          & li {
            position: relative;
            padding-left: 32px;
            font-family: Mulish;
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0%;
            color: #231f20;
            padding: 4px 0 4px 39px;
            white-space: pre;
            @media (max-width: 1200px) {
              font-size: 9px;
              padding: 4px 0 4px 17px;
            }
          }
          & li::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 2.25C6.615 2.25 2.25 6.615 2.25 12C2.25 17.385 6.615 21.75 12 21.75C17.385 21.75 21.75 17.385 21.75 12C21.75 6.615 17.385 2.25 12 2.25ZM10.28 9.22C10.2113 9.14631 10.1285 9.08721 10.0365 9.04622C9.94454 9.00523 9.84522 8.98318 9.74452 8.98141C9.64382 8.97963 9.54379 8.99816 9.4504 9.03588C9.35701 9.0736 9.27218 9.12974 9.20096 9.20096C9.12974 9.27218 9.0736 9.35701 9.03588 9.4504C8.99816 9.54379 8.97963 9.64382 8.98141 9.74452C8.98318 9.84522 9.00523 9.94454 9.04622 10.0365C9.08721 10.1285 9.14631 10.2113 9.22 10.28L10.94 12L9.22 13.72C9.14631 13.7887 9.08721 13.8715 9.04622 13.9635C9.00523 14.0555 8.98318 14.1548 8.98141 14.2555C8.97963 14.3562 8.99816 14.4562 9.03588 14.5496C9.0736 14.643 9.12974 14.7278 9.20096 14.799C9.27218 14.8703 9.35701 14.9264 9.4504 14.9641C9.54379 15.0018 9.64382 15.0204 9.74452 15.0186C9.84522 15.0168 9.94454 14.9948 10.0365 14.9538C10.1285 14.9128 10.2113 14.8537 10.28 14.78L12 13.06L13.72 14.78C13.7887 14.8537 13.8715 14.9128 13.9635 14.9538C14.0555 14.9948 14.1548 15.0168 14.2555 15.0186C14.3562 15.0204 14.4562 15.0018 14.5496 14.9641C14.643 14.9264 14.7278 14.8703 14.799 14.799C14.8703 14.7278 14.9264 14.643 14.9641 14.5496C15.0018 14.4562 15.0204 14.3562 15.0186 14.2555C15.0168 14.1548 14.9948 14.0555 14.9538 13.9635C14.9128 13.8715 14.8537 13.7887 14.78 13.72L13.06 12L14.78 10.28C14.8537 10.2113 14.9128 10.1285 14.9538 10.0365C14.9948 9.94454 15.0168 9.84522 15.0186 9.74452C15.0204 9.64382 15.0018 9.54379 14.9641 9.4504C14.9264 9.35701 14.8703 9.27218 14.799 9.20096C14.7278 9.12974 14.643 9.0736 14.5496 9.03588C14.4562 8.99816 14.3562 8.97963 14.2555 8.98141C14.1548 8.98318 14.0555 9.00523 13.9635 9.04622C13.8715 9.08721 13.7887 9.14631 13.72 9.22L12 10.94L10.28 9.22Z' fill='%23231F20'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: center;
            display: inline-block;
            @media (max-width: 1200px) {
              width: 12px;
              height: 12px;
              background-size: 12px;
            }
          }
        }
      }
      & :global(#different_from-block-1) {
        & p {
          & strong {
            position: relative;
            &:after {
              position: absolute;
              height: 38px;
              width: 38px;
              background-size: 38px;
              content: '';
              left: -50px;
              top: -5px;
              background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_334_2204)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4922 38.7342C8.96067 38.7342 0.433594 30.2071 0.433594 19.6809C0.433594 9.14939 8.96067 0.622314 19.4922 0.622314C30.0184 0.622314 38.5455 9.14939 38.5455 19.6809C38.5455 30.2071 30.0184 38.7342 19.4922 38.7342Z' fill='%239CA3AF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.11114 20.2386C2.11114 9.70701 10.6329 1.17994 21.1644 1.17994C22.9652 1.17994 24.7071 1.43184 26.3578 1.89812C24.6428 1.23353 22.8098 0.810128 20.8964 0.676139H20.3497V0.643982C9.48054 0.16162 0.433594 8.81732 0.433594 19.6812C0.433594 28.4065 6.2916 35.7599 14.2988 38.0216C7.16521 35.2668 2.11114 28.3476 2.11114 20.2386Z' fill='%23353535'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.7219 11.3255C32.5482 11.3255 31.4816 10.6073 30.9939 9.48182C30.6134 8.59213 30.0721 6.16961 33.3093 2.85739C33.4808 2.68589 33.7595 2.68053 33.9363 2.84667C37.2861 6.04098 36.8305 8.48494 36.4821 9.38535C36.0212 10.5591 34.9332 11.3255 33.7219 11.3255Z' fill='%232196F3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6075 20.8548C11.3404 20.8548 9.33594 19.1183 9.33594 16.7976C9.33594 16.3527 9.69503 15.9937 10.1399 15.9937C10.5847 15.9937 10.9438 16.3527 10.9438 16.7976C10.9438 18.234 12.2355 19.2469 13.6075 19.2469C14.9849 19.2469 16.2766 18.234 16.2766 16.7976C16.2766 16.3527 16.6357 15.9937 17.0805 15.9937C17.5254 15.9937 17.8844 16.3527 17.8844 16.7976C17.8844 19.1183 15.8746 20.8548 13.6075 20.8548ZM25.3718 20.8548C23.1047 20.8548 21.0948 19.1183 21.0948 16.7976C21.0948 16.3527 21.4593 15.9937 21.8988 15.9937C22.3436 15.9937 22.7027 16.3527 22.7027 16.7976C22.7027 18.234 23.9944 19.2469 25.3718 19.2469C26.7438 19.2469 28.0355 18.234 28.0355 16.7976C28.0355 16.3527 28.3999 15.9937 28.8394 15.9937C29.2842 15.9937 29.6433 16.3527 29.6433 16.7976C29.6433 19.1183 27.6389 20.8548 25.3718 20.8548ZM24.5464 30.4162C24.1873 30.4162 23.8764 30.1751 23.7746 29.8321C23.2226 27.9241 21.47 26.6002 19.487 26.6056C17.52 26.611 15.7674 27.9616 15.1993 29.8428C15.076 30.2662 14.6258 30.5074 14.2024 30.3787C13.7737 30.2501 13.5325 29.8053 13.6611 29.3765C14.4275 26.82 16.8286 24.9977 19.5084 24.9977C22.1935 24.9977 24.5732 26.8093 25.3182 29.3872C25.4682 29.8964 25.077 30.4162 24.5464 30.4162Z' fill='%234D4D4D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6075 20.8548C11.3404 20.8548 9.33594 19.1183 9.33594 16.7976C9.33594 16.3527 9.69503 15.9937 10.1399 15.9937C10.5847 15.9937 10.9438 16.3527 10.9438 16.7976C10.9438 18.234 12.2355 19.2469 13.6075 19.2469C14.9849 19.2469 16.2766 18.234 16.2766 16.7976C16.2766 16.3527 16.6357 15.9937 17.0805 15.9937C17.5254 15.9937 17.8844 16.3527 17.8844 16.7976C17.8844 19.1183 15.8746 20.8548 13.6075 20.8548ZM25.3718 20.8548C23.1047 20.8548 21.0948 19.1183 21.0948 16.7976C21.0948 16.3527 21.4593 15.9937 21.8988 15.9937C22.3436 15.9937 22.7027 16.3527 22.7027 16.7976C22.7027 18.234 23.9944 19.2469 25.3718 19.2469C26.7438 19.2469 28.0355 18.234 28.0355 16.7976C28.0355 16.3527 28.3999 15.9937 28.8394 15.9937C29.2842 15.9937 29.6433 16.3527 29.6433 16.7976C29.6433 19.1183 27.6389 20.8548 25.3718 20.8548ZM24.5464 30.4162C24.1873 30.4162 23.8764 30.1751 23.7746 29.8321C23.2226 27.9241 21.47 26.6002 19.487 26.6056C17.52 26.611 15.7674 27.9616 15.1993 29.8428C15.076 30.2662 14.6258 30.5074 14.2024 30.3787C13.7737 30.2501 13.5325 29.8053 13.6611 29.3765C14.4275 26.82 16.8286 24.9977 19.5084 24.9977C22.1935 24.9977 24.5732 26.8093 25.3182 29.3872C25.4682 29.8964 25.077 30.4162 24.5464 30.4162Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_334_2204'%3E%3Crect width='38.1119' height='38.1119' fill='white' transform='translate(0.433594 0.622314)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
              @media (max-width: 1023px) {
                width: 20px;
                height: 20px;
                background-size: 20px;
                left: -26px;
                top: -1px;
              }
            }
          }
        }
        & > div {
          &:nth-child(2) {
            padding: 50px 0 0 51px;
            margin: 0;
            @media (max-width: 1023px) {
              padding: 30px 0 30px 30px;
            }
          }
        }
      }
      & :global(#different_from-block-2) {
        & p {
          & strong {
            position: relative;
            &:after {
              position: absolute;
              height: 38px;
              width: 38px;
              background-size: 38px;
              content: '';
              left: -50px;
              top: -5px;
              background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_334_2215)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4922 38.7342C8.96067 38.7342 0.433594 30.2071 0.433594 19.6809C0.433594 9.14939 8.96067 0.622314 19.4922 0.622314C30.0184 0.622314 38.5455 9.14939 38.5455 19.6809C38.5455 30.2071 30.0184 38.7342 19.4922 38.7342Z' fill='%23F74DF4'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.11114 20.2383C2.11114 9.70677 10.6329 1.17969 21.1644 1.17969C22.9652 1.17969 24.7071 1.43159 26.3578 1.89788C24.6428 1.23329 22.8098 0.809884 20.8964 0.675895H20.3497V0.643737C9.48055 0.161376 0.433594 8.81708 0.433594 19.6809C0.433594 28.4063 6.2916 35.7596 14.2988 38.0214C7.16521 35.2665 2.11114 28.3473 2.11114 20.2383Z' fill='%23EB2BE8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4388 25.0137C17.1981 25.9624 21.9842 26.032 26.6631 25.0459C26.9632 24.9816 28.1156 24.7136 28.9945 24.5099C29.3965 23.6631 29.6859 22.7573 29.8574 21.798C29.911 21.471 29.6055 21.1977 29.2893 21.2942C23.1419 23.1379 16.5496 23.1325 9.67864 21.2888C9.36779 21.2084 9.06765 21.4764 9.12661 21.798C9.28739 22.7466 9.57681 23.6417 9.97342 24.4778C10.8256 24.6707 12.0744 24.944 12.4388 25.0137Z' fill='%23D1D7FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4922 30.5127C15.3439 30.5127 11.6726 28.0848 9.97363 24.4778C10.8258 24.6707 12.0746 24.9441 12.439 25.0137C17.1983 25.9624 21.9844 26.0321 26.6633 25.0459C26.9635 24.9816 28.1158 24.7136 28.9947 24.5099C27.285 28.0955 23.6298 30.5127 19.4922 30.5127Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.0805 14.375C16.6357 14.375 16.2766 14.016 16.2766 13.5711C16.2766 12.1401 14.9849 11.1218 13.6075 11.1218C12.2355 11.1218 10.9438 12.1347 10.9438 13.5711C10.9438 14.016 10.5847 14.375 10.1399 14.375C9.69503 14.375 9.33594 14.016 9.33594 13.5711C9.33594 11.2504 11.3404 9.51392 13.6075 9.51392C15.8746 9.51392 17.8844 11.2504 17.8844 13.5711C17.8844 14.016 17.5254 14.375 17.0805 14.375ZM28.8394 14.375C28.3999 14.375 28.0355 14.016 28.0355 13.5711C28.0355 12.1401 26.7492 11.1218 25.3718 11.1218C23.9944 11.1218 22.7027 12.1347 22.7027 13.5711C22.7027 14.016 22.3436 14.375 21.8988 14.375C21.4593 14.375 21.0948 14.016 21.0948 13.5711C21.0948 11.2504 23.1047 9.51392 25.3718 9.51392C27.6389 9.51392 29.6433 11.2504 29.6433 13.5711C29.6433 14.016 29.2843 14.375 28.8394 14.375Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_334_2215'%3E%3Crect width='38.1119' height='38.1119' fill='white' transform='translate(0.433594 0.622314)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
              @media (max-width: 1023px) {
                width: 20px;
                height: 20px;
                background-size: 20px;
                left: -26px;
                top: -1px;
              }
            }
          }
        }
        & ul {
          & li {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.25 12C2.25 6.615 6.615 2.25 12 2.25C17.385 2.25 21.75 6.615 21.75 12C21.75 17.385 17.385 21.75 12 21.75C6.615 21.75 2.25 17.385 2.25 12ZM15.61 10.186C15.67 10.1061 15.7134 10.0149 15.7377 9.91795C15.762 9.82098 15.7666 9.72014 15.7514 9.62135C15.7361 9.52257 15.7012 9.42782 15.6489 9.3427C15.5965 9.25757 15.5276 9.18378 15.4463 9.12565C15.3649 9.06753 15.2728 9.02624 15.1753 9.00423C15.0778 8.98221 14.9769 8.97991 14.8785 8.99746C14.7801 9.01501 14.6862 9.05205 14.6023 9.10641C14.5184 9.16077 14.4462 9.23135 14.39 9.314L11.154 13.844L9.53 12.22C9.38783 12.0875 9.19978 12.0154 9.00548 12.0188C8.81118 12.0223 8.62579 12.101 8.48838 12.2384C8.35097 12.3758 8.27225 12.5612 8.26882 12.7555C8.2654 12.9498 8.33752 13.1378 8.47 13.28L10.72 15.53C10.797 15.6069 10.8898 15.6662 10.992 15.7036C11.0942 15.7411 11.2033 15.7559 11.3118 15.7469C11.4202 15.738 11.5255 15.7055 11.6201 15.6519C11.7148 15.5982 11.7967 15.5245 11.86 15.436L15.61 10.186Z' fill='%23F74DF4'/%3E%3C/svg%3E%0A");
            }
          }
        }
        & > div {
          &:nth-child(2) {
            padding: 50px 0 0 51px;
            margin: 0;
            @media (max-width: 1200px) {
              padding: 30px 0 30px 30px;
            }
          }
        }
      }
    }
  }
  & header {
    justify-content: center;
    & h2 {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      margin: 0 0 10px;
      padding: 0;
      width: 100%;
      max-width: 100%;
      @media (max-width: 1023px) {
        font-size: 18px;
        margin-bottom: 8px;
      }
    }
    & p{
      margin: 0 0 30px;
      font-family: Mulish;
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
color: #8D8D8D;
padding: 0;
@media (max-width: 1023px) {
  font-size: 11px;
 
}
    }
  }
}
/* testmonial_section */
:global(#testimonial_section) {
  max-width: 1440px;
  margin: 0 auto;
  & > div {
    padding: 100px 0 150px;
    @media (max-width: 1023px) {
      padding: 75px 0 75px;
    }
  }
  & header {
    max-width: calc(1208px + 40px);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    & h2 {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      margin: 0 0 10px;
      padding: 0;
      @media (max-width: 1023px) {
        font-size: 18px;
      }
    }
    & p{
      margin: 0 0 30px;
      font-family: Mulish;
font-weight: 400;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
color: #8D8D8D;
padding: 0;
@media (max-width: 1023px) {
  font-size: 11px;
}
    }

  }
}
:global(#our_services) {
  background-color: #fafafa;
  & > div {
    padding: 0px 0 221px;
    @media (max-width: 1023px) {
      padding: 0px 0 133px;
    }
    & > div {
      max-width: calc(1220px + 40px);
      padding: 0 20px;
      margin: 0 auto;
      gap: 28px;
      @media (max-width: 1023px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      & > div {
        background: #fff;
        border-radius: 20px;
        padding: 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        & > div {
          &:nth-child(1) {
          }
          &:nth-child(2) {
            margin: 0;
          }
        }
        & h3 {
          font-family: Istok Web;
          font-weight: 700;
          font-size: 25px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #231f20;
          padding: 30px 25px 15px;
          @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 130%;
            padding: 15px 15px 8px;
          }
        }
        & p {
          font-family: Mulish;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          letter-spacing: 0%;

          color: #8d8d8d;
          margin: 0;
          padding: 0 25px 6px;
          @media (max-width: 1023px) {
            font-size: 9px;
            padding: 0 15px 6px;
          }
        }
      }
    }
  }
  & img{
    max-height: 217px;
    min-height: 217px;
    @media (max-width: 1023px) {
      max-height: 133px;
      min-height: 133px;
    }
  }
  & header {
    position: unset;
    padding: 0 19px;
    justify-content: center;
    & h2 {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      color: #231f20;
      padding: 0;
      margin: 0px auto 10px;
      @media (max-width: 1023px) {
        font-size: 18px;
        margin: 0px auto 5px;
      }
    }
    & p {
      font-family: Mulish;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;

      color: #8d8d8d;
      padding: 0;
      margin: 0px 0 50px;
      text-wrap: auto;
      @media (max-width: 1023px) {
        font-size: 11px;
        margin: 0px auto 30px;
      }
    }
    & a {
      position: absolute;
      bottom: 150px;
      left: 0;
      right: 0;

      box-shadow: 0px 4px 10px 0px #0000001a;
      background-color: #f74df4;
      border-radius: 10px;
      font-family: Mulish;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0%;
      height: 41px;
      border: none;
      color: #fff;
      padding: 10px 20px;
      margin: 0 auto;
      display: block;
      @media (max-width: 1023px) {
        font-size: 10px;
        height: 28px;
        padding: 8px 20px;
        bottom: 75px;
        width: max-content;
        border-radius: 5px;
      }
      &:hover {
        background: #e14ed0;
      }
    }
  }
}
:global(#safety_and_security) {
  max-width: 1440px;
  margin: 0 auto;
  & > div {
    padding: 0 0 20px;
    @media (max-width: 767px) {
      padding: 0 0 10px;
    }
    & > div {
      max-width: 1415px;
      margin: 0 12px;
      padding: 32px 0 0;
      background: linear-gradient(238.52deg, #ffd1fe -8.8%, #ffffff 50.8%);
      border-radius: 40px;
      align-items: center;
      grid-template-columns: 53% 44%;
      gap: 3%;
      width: calc(100% - 32px);
      @media (max-width: 767px) {
        border-radius: 10px;
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 30px 0px 0;
        width: calc(100% - 20px);
      }
    }
  }
  & :global(#safety_and_security-block-1) {
    margin-left: 25%;
    @media (max-width: 767px) {
      margin-left: 0px;
      padding: 0 40px;
    }
    & h3 {
      font-family: Istok Web;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #231f20;
      padding: 0 0 30px;
      @media (max-width: 1023px) {
        font-size: 18px;
        padding: 0 0 15px;
      }
    }
    & ul {
      margin: 0;
      list-style-type: auto;
      padding-left: 24px;
      @media (max-width: 767px) {
        padding-left: 18px;
      }
      & li {
        color: #231f20;
        &::marker{
          margin-top: 2px;
       @media (max-width: 767px) {
        font-size: 11px;
       }
        }
        & p {
          font-family: Mulish;
          font-weight: 400;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #8d8d8d;
          @media (max-width: 1023px) {
            font-size: 11px;
          
          }
      
          & strong {
            font-family: Mulish;
            font-weight: 700;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0%;

            color: #231f20;
            @media (max-width: 1023px) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}
