@import '../../styles/customMediaQueries.css';

.root {}

.pageRoot {
  padding-bottom: 190px;
  background-color: #fff;

  @media (--viewportLarge) {
    padding-bottom: 0;
  }
}

.loadingText {
  margin: 24px;
}

.errorText {
  color: var(--colorFail);
  margin: 24px;
}

.sectionHero {
  position: relative;
  margin: 0 0 36px 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.descriptionHeading {
  font-family: Istok Web;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    margin-top: 0;
  }
}

.heroHeight {
  @media (--viewportMedium) {
    height: calc(0.41 * 100vw);
    max-height: 50vh;
    overflow-y: hidden;
  }
}

.imageWrapperForSectionHero {
  composes: heroHeight;
  background-color: var(--colorGrey100);
  /* Loading BG color */

  /* Image carousel can be opened from the image, therefore we should show a pointer */
  cursor: pointer;
}

.actionBarWithCTAEnabled {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  color: var(--colorGrey100);
  background-color: var(--colorGrey700);
  z-index: 1;
  /* bring on top of mobile image */
  padding: 0 24px;

  /* Action bar prevents the image click events going to the parent and
   should not show a pointer */
  cursor: initial;

  @media (--viewportMedium) {
    flex-direction: row;
    border-radius: var(--borderRadiusMedium);
  }
}

.actionBarForProductLayout {
  margin: 0;
  width: 100%;

  &:nth-child(even) {
    margin-top: 24px;
  }

  @media (--viewportMedium) {
    margin: 24px 0 24px 0;
    width: 100%;
  }

  @media (--viewportLarge) {
    margin: 0 0 24px 0;
  }
}

.actionBarContainerForHeroLayout {
  position: absolute;
  top: 13px;
  left: 13px;
  width: calc(100% - 26px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actionBarForHeroLayout {
  /* Action bar prevents the image click events going to the parent and
   should not show a pointer */
  cursor: initial;
  border-radius: var(--borderRadiusMedium);
}

.actionBarCTA {
  composes: buttonSmall from global;
  display: inline-block;
  width: 100%;
  margin: 10px 0px 20px 0px;

  &:hover,
  &:focus {
    background-color: var(--marketplaceColor);
    border-color: var(--marketplaceColor);
    color: var(--colorWhite);
    text-decoration: none;
  }

  @media (--viewportMedium) {
    width: auto;
    margin: 20px 0 20px 15px;
  }
}

.linkContainer {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 8px;
}

.ownListingText {
  composes: h5 from global;
  margin: 14px 24px 0 0;

  @media (--viewportMedium) {
    margin: 24px 24px 24px 0;
  }

  &.CTAEnabled {
    margin-bottom: 0;

    @media (--viewportMedium) {
      margin: 24px 0 0px 0;
    }
  }
}

.noShrink {
  display: flex;
  flex-shrink: 0;
}

.ownListingTextPendingApproval {
  color: var(--colorAttention);
}

.closedListingText {
  composes: h4 from global;
  margin: 14px 12px 11px 24px;
  text-align: center;
  width: 100%;

  @media (--viewportMedium) {
    margin: 25px 12px 22px 24px;
  }
}

.addPayoutDetails,
.editListingLink {
  composes: h5 from global;
  margin: 23px 24px 11px 0px;
  color: var(--colorGrey100);

  transition: var(--transitionStyleButton);

  &:hover {
    color: var(--colorWhite);
    text-decoration: none;
  }

  @media (--viewportMedium) {
    margin: 24px 0 0 0;
  }

  &.CTAEnabled {
    margin: 24px 0 0 0;
  }
}

.missingPayoutDetailsText {
  color: var(--colorAttention);
}

.payoutDetailsWarning {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.editIcon {
  margin: -6px 7px 0 0;
}

.rootForImage {
  composes: heroHeight;
  width: 100%;
  transition: var(--transitionStyleButton);

  @media (--viewportMedium) {
    object-fit: cover;
    border-radius: var(--borderRadius);

    &:hover {
      transform: scale(1.005);
      box-shadow: var(--boxShadowListingCard);
    }
  }
}

.viewPhotos {
  composes: buttonSmall from global;

  /* Position and dimensions */
  position: absolute;
  bottom: 19px;
  right: 24px;
}

.carouselModalScrollLayer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.92);
}

.carouselModalContainer {
  width: 100%;
  height: 100%;
}

.contentWrapperForHeroLayout {
  @media (--viewportMedium) {
    width: 100%;
    max-width: var(--contentMaxWidth);
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    position: relative;
  }

  @media (--viewportLarge) {
    max-width: calc(var(--contentMaxWidth) + 72px);
    padding: 0 36px;
    margin: 0 auto 117px;
  }

  @media (--viewportXLarge) {
    max-width: var(--contentMaxWidth);
    padding: 0;
  }
}

.mainColumnForProductLayout {
  @media (--viewportMedium) {}

  @media (--viewportLarge) {
    /* contentContainer's full width - (orderColumn + paddings + margin) */
    max-width: calc(100% - 416px);
    flex-basis: calc(100% - 416px);
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.orderColumnForProductLayout {
  @media (--viewportMedium) {}

  @media (--viewportLarge) {
    display: block;
    margin-left: 29px;
    flex-basis: 386px;
    flex-shrink: 0;
    /* height: 100%; */
    position: sticky;
    top: 58px;
  }
}

.contentWrapperForProductLayout {
  margin: 0 0 56px 0;

  @media (--viewportMedium) {
    width: 100%;
    max-width: var(--contentMaxWidth);
    padding: 0 24px 0 24px;
    margin: 0 auto 56px auto;
  }

  @media (--viewportLarge) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: unset;
    width: min(1292px, 100vw);
    padding: 20px 36px 0 36px;
    margin: 0 auto 117px auto;
  }
}

.breadCrumb {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: Mulish;
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #C4C4C4;

  @media screen and (max-width: 768px) {
    display: none;
  }

  & a {
    font-family: Mulish;
    font-weight: 700;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #C4C4C4;
  }

  & .breadCrumbLinkActive {
    color: #F74DF4;
  }
}

.mainColumnForHeroLayout {
  flex-basis: 100%;
  margin-bottom: 23px;

  @media (--viewportMedium) {
    margin-top: 50px;
    margin-bottom: 51px;
    flex-shrink: 0;
  }

  @media (--viewportLarge) {
    margin-top: 80px;
    margin-bottom: 0px;
    /* contentContainer's full width - (orderColumn + two paddings + margin + border) */
    max-width: calc(100% - 433px);
    flex-basis: calc(100% - 433px);
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.orderColumnForHeroLayout {
  @media (--viewportMedium) {}

  @media (--viewportLarge) {
    display: block;
    margin-top: 80px;
    margin-left: 60px;
    border-left: 1px solid var(--colorGrey100);
    padding-left: 60px;
    flex-basis: 312px;
    flex-shrink: 0;
  }
}

.orderPanel {

  /* Note: panel height might be too much on small viewport - hence min-height */
  @media (--viewportLarge) and (min-height: 950px) {
    position: sticky;
    top: 108px;
  }
}

.productOrderPanel {
  @media (--viewportLarge) {
    display: block;
    margin-top: 24px;
  }

  /* Note: panel height might be too much on small viewport - hence min-height */
  @media (--viewportLarge) and (min-height: 950px) {
    position: sticky;
    top: 108px;
  }

  &>div {
    box-shadow: 0px 4px 20px 0px #00000033;
    padding: 20px;
    border-radius: 20px;

    @media screen and (max-width: 768px) {
      padding-top: 30px;
      border-radius: 0;
      padding-bottom: 40px;
    }
  }
}

.orderPanelTitle {
  /* Font */
  font-family: Istok Web;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;
  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.sectionAvatar {
  /* Position (over the listing image)*/
  margin-left: 24px;
  margin-top: -31px;

  /* Rendering context to the same lavel as listing image */
  position: relative;

  /* Flexbox would give too much width by default. */
  width: 60px;

  @media (--viewportMedium) {
    position: absolute;
    top: -49px;
    margin-left: 0;
    margin-top: 0;
  }
}

.avatarMobile {
  display: flex;

  @media (--viewportMedium) {
    display: none;
    /* Hide the medium avatar from the bigger screens */
  }
}

.avatarDesktop {
  display: none;
  /* Hide the large avatar from the smaller screens */

  @media (--viewportMedium) {
    display: flex;
  }
}

.desktopPriceContainer {
  display: none;

  @media (--viewportLarge) {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0 48px 0 0;
    padding: 0;
  }
}

.desktopPriceValue {
  /* Font */
  composes: marketplaceModalTitleStyles from global;
  color: var(--marketplaceColor);

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 1px;
  }
}

.desktopPerUnit {
  /* Font */
  composes: h5 from global;
  color: var(--colorGrey700);

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.heading {
  margin-bottom: 20px;
  padding: 0 20px;

  @media (--viewportMedium) {
    margin-bottom: 0;
    padding: 0;
  }
}

.title {
  /* Font */
  composes: marketplaceModalTitleStyles from global;
  color: var(--colorGrey700);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 2px;
  }
}

.author {
  width: 100%;
  composes: h5 from global;

  margin-top: 7px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--colorGrey700);
  }
}

.authorNameLink {
  composes: textSmall from global;
  color: var(--colorGrey700);
}

.contactWrapper {
  display: none;

  @media (--viewportMedium) {
    display: inline;
  }
}

.separator {
  margin: 0 6px;
}

.contactLink {
  /* Position and dimensions */
  display: inline;
  padding: 0;

  /* Borders */
  border: none;

  /* Colors */
  color: var(--marketplaceColor);

  /* Text size should be inherited */
  text-decoration: none;

  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  margin: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    line-height: 16px;
  }
}

.sectionText {
  padding: 0 0px;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 40px;
  }
}

:global(#description){
  @media screen and (max-width: 768px) {
    padding: 20px;
    border-top: 5px solid #F2F2F2;
    border-bottom: 5px solid #F2F2F2;
  }
}

.sectionHeading,
.sectionHeadingWithExtraMargin {
  /* Font for sections titles */
  font-family: Istok Web;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;
  padding: 0;
  font-weight: var(--fontWeightBold);

  margin-top: 0;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.sectionHeading {
  font-family: Istok Web;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.sectionHeadingWithExtraMargin {
  @media (--viewportMedium) {
    margin-bottom: 16px;
  }
}

.text {
  font-weight: var(--fontWeightRegular);
  padding: 1px 0 5px 0;
  margin: 0;

  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;

  @media (--viewportMedium) {
    padding: 3px 0 5px 0;
    margin: 0;
  }
}

.readMoreButton {
  background: none;
  border: none;
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;

  cursor: pointer;
  padding: 0;
  margin-left: 8px;

  transition: color 0.2s ease;
  display: block;
  margin-left: auto;
  width: max-content;
  border: 1px solid #F74DF4;
  width: 134px;
  height: 38px;
  color: #F74DF4;
  border-radius: 10px;
  text-decoration: none;
@media (max-width: 768px) {
  margin-top: 16px;
  width: 100%;
  font-size: 10px;
  height: 29px;
  border-radius: 5px;
}
  &:hover {
    color: var(--colorGrey700);

  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

}

.tabsConrainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
  position: sticky;
  top: 70px;
  background-color: #fff;
  z-index: 1;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
    margin-bottom: 0;
    top: 56px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    max-width: calc(100vw - 20px);
    & button{
      white-space: nowrap;

    }
  }
}

.ingress {
  font-family: Mulish;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #8D8D8D;
  margin: 0;

  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;

  @media (--viewportMedium) {
    margin: 0;
    font-size: 16px;
  }
}

.sectionDetails,
.sectionMultiEnum,
.sectionEmbeddedYoutubeVideo {
  padding: 0 24px;
  margin-bottom: 32px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.sectionDetails {
  @media screen and (max-width: 768px) {
    padding: 0 0px;
    margin-bottom: 20px;
  }
}

.sectionMap {
  padding: 0 24px;
  margin-bottom: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;

  @media (--viewportMedium) {
    padding: 0 0 30px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
       border-bottom: 5px solid #F2F2F2;
       margin-bottom: 0;
     }
}

.address {
  margin-top: 20px;
  font-family: Mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.sectionReviews,
.sectionAuthor {
  padding: 0 24px;
  margin-top: 42px;
  scroll-margin-top: calc(var(--topbarHeight) + 24px);

  @media (--viewportMedium) {
    padding: 0;
    margin-top: 40px;
    scroll-margin-top: calc(var(--topbarHeightDesktop) + 24px);
  }

  @media (--viewportLarge) {
    padding: 8px 0;
  }
}

.sectionAuthor {
  margin-top: 20px;
}

.sectionAuthor {
  box-shadow: 0px 4px 20px 0px #0000001A;
  border-radius: 20px;
  padding: 26px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}

.details {
  padding-bottom: 1px;
  margin: 0;
}

.detailsRow {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;
  padding: 7px 0px 10px;
  gap: 8px;
  background: var(--light-4-bakcground-4-opsi-2, #FAFAFA);
  border-radius: 12px;

  margin-bottom: 12px;

  @media (--viewportMedium) {
    padding: 26px 52px 26px 19px;

  }
}

.detailLabel {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;
}

.inquiryModalContent {
  flex-grow: 1;
  display: flex;
}

.inquiryForm {
  flex-grow: 1;
  margin: 70px 0 100px 0;

  @media (--viewportMedium) {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: 0;
  }
}

.inquirySubmitButtonWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background-color: var(--colorWhite);

  @media (--viewportMedium) {
    position: static;
    padding: 0;
    margin-top: auto;
  }
}

.sectionLocationHeading {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 8px;

  @media screen and (max-width: 768px) {
   gap: 8px;
  }

  & * {
    font-family: Mulish;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #818181;

    @media screen and (max-width: 768px) {
      font-size: 8px;
    }
  }
}

.location {
  display: flex;
  gap: 5px;
  align-items: center;
}

.map {
  /* Dimensions: Map takes all available space from viewport (excludes action button and section title) */
  height: 120px;
  width: 100%;

  /* Static map: dimensions are 640px */
  max-width: 804px;
  max-height: 120px;
  background-color: #eee;
  padding: 0;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;

  @media (--viewportMedium) {
    height: 275px;
    max-height: 275px;
  }

  @media (--viewportLarge) {
    height: 275px;
    margin-bottom: 7px;
  }

  &>div {
    max-width: 100% !important;
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}

.backButton {
  width: 28px;
  height: 28px;
  border-radius: 25px;


  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  @media (--viewportSmall) {
    width: 38px;
    height: 38px;
  }
}

.backButtonContainer {
  display: flex;
  justify-content: space-between;
  top: 12px;
  left: 18px;
  right: 18px;
  position: absolute;
  z-index: 2;

  @media (--viewportSmall) {
    top: 18px;
  }
}

.wishlistButton {
  backdrop-filter: blur(9.399999618530273px);
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #0202020D !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  @media (--viewportSmall) {
    width: 38px;
    height: 38px;
  }
}

.wishlistButton svg {
  fill: transparent;
  stroke: white;
  transition: all 0.3s ease;
}

.wishlistButton.active > svg {
  fill: #FF3737;
  stroke: #FF3737;
}

.wishlistButton:hover svg {
  fill: #FF3737;
  stroke: #FF3737;
}

.productGallery {
  margin: 0 0 20px 0;
  position: relative;

  @media (--viewportMedium) {
    margin: 24px 0 20px 0;
  }

  @media (--viewportLarge) {
    margin: 0 0 20px 0;
    padding-bottom: 4px;
  }
}

.mobileHeading {
  margin: 0 24px 24px 24px;

  @media (--viewportMedium) {
    margin: 0 0 24px 0;
  }

  @media (--viewportLarge) {
    display: none;
  }
}

.productDesktopHeading {
  display: none;

  @media (--viewportLarge) {
    display: block;
  }
}

.productSideContent {}

.productBookingPanel {
  @media (--viewportLarge) {
    display: block;
    margin-top: 24px;

    /* The calendar needs 312px */
    flex-basis: 312px;
    flex-shrink: 0;
  }
}

.video {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.rentalPeriod {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }

  &>li {
    background: #FBA6F933;
    border-radius: 12px;
    padding: 5px 15px;
    font-family: Mulish;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #EB2BE8;
    @media screen and (max-width: 768px) {
      font-size: 9px;
      padding: 3px 10px;
    }

    & span {
      padding: 0;
      font-family: Mulish;
      font-weight: 700;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #EB2BE8;
      @media screen and (max-width: 768px) {
        font-size: 9px;
      }
    }

    &>span {
      display: none;
    }
  }
}

.tabsContainer {
  display: flex;
  border-bottom: 1px dotted #B3B3B3;
  margin-bottom: 24px;
}

.tab {
  flex: 1;
  background: none;
  border: none;
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;
  padding: 10px 0 10px 0;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: color 0.2s;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  &:focus{
    color: #231F20;
  }
}

.descriptionContainer {
  @media screen and (max-width: 768px) {
    padding: 0 0px;
  }
}



.tab.activeTab,
.tab:hover {
  color: #F74DF4;
}

.tab.activeTab::after {
  content: '';
  display: block;
  height: 2px;
  background: #F74DF4;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}

.tab:hover::after {
  content: '';
  display: block;
  height: 2px;
  background: #F74DF4;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}


.detailsType {
  border: 0.5px solid var(--Light-2, #C4C4C4);
  padding: 6px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  width: max-content;
@media (max-width: 768px) {
  gap: 10px;
}
  & li {
    margin: 0;
    padding: 0;
    line-height: 130%;
    & > span{
      display: flex;
    }
  }
}

.detailTypeValue,
.detailTypeLabel {
  font-family: Mulish;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;
  @media screen and (max-width: 768px) {
    font-size: 8px;
    font-weight: 600;
  }
}

.detailsTypeRow {
  display: flex;
  align-items: center;
  gap: 4px;
  @media screen and (max-width: 768px) {
    & svg{
      width: 10px;
      height: 10px;
    }
  }
}

.amenitiesContainer {
  border-top: 1px solid #F2F2F2;
  @media screen and (max-width: 768px) {
    border-top: none;
    border-bottom:5px solid #F2F2F2;
    padding: 20px;
  }

}

.amenitiesTitle,
.servicesTitle,
.propertyDetailsTitle {
  font-family: Istok Web;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #231F20;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    margin-top: 0;
  }
}

.servicesTitle,
.propertyDetailsTitle {
  font-size: 18px;

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.amenitiesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 24px;

  @media screen and (max-width: 768px) {
    gap: 10px;
    margin-bottom: 10px;
  }
}

.amenityItem {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: calc(33.33% - 20px);

  @media screen and (max-width: 768px) {
    gap: 10px;
  }

  & svg {
    fill: transparent;

    @media screen and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

  @media (--viewportMedium) {}
}

.amenityLabel {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.serviceItem {
  border: 2px solid var(--Light-2, #C4C4C4);
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & svg {
    fill: transparent;
  }

  @media screen and (max-width: 768px) {
    padding: 5px 10px;
    margin-bottom: 10px;
  }
}

.serviceIcon {
  margin-right: 10px;

  @media screen and (max-width: 768px) {
    margin-right: 5px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.serviceLabel,
.serviceValue {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.serviceValueContainer {
  @media screen and (max-width: 768px) {
    & svg {
      width: 18px;
      height: 18px;
    }
  }
}

.serviceValue {
  margin-right: 10px;
}

.active {
  border-color: #D1F5D3;
  background-color: #F7FFF6;

  & .serviceValue {
    color: #149A12;
  }
}

.servicesContainerWrapper {
  margin-top: 68px;

  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
}

.propertyDetailsContainer {
  margin-top: 68px;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 30px;

  @media screen and (max-width: 768px) {
    margin-top: 0px;
    border-bottom: none;
    margin-bottom: 0;
    padding: 20px;
  }
}

.propertyDetailItem {
  padding: 20px;
  background-color: #FAFAFA;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    padding: 5px 10px;
    margin-bottom: 10px;

    & svg {
      width: 18px;
      height: 18px;
    }
  }
}

.propertyDetailLabelWrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (max-width: 768px) {
    gap: 5px;
  }
}

.propertyDetailLabel {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;
  margin-left: 12px;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.propertyDetailValue {
  font-family: Mulish;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
  color: #4D4D4D;

  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

.sectionAuthorContainer {
  padding-top: 30px;

  @media screen and (max-width: 768px) {
    padding: 20px;
    border-bottom: 5px solid #F2F2F2;
  }
}

.sectionTermsWrapper {
  margin: 32px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #F2F2F2;

  @media screen and (max-width: 768px) {
    margin: 20px 0;
    padding: 20px;
    border-bottom: 5px solid #F2F2F2;
    margin: 0;
    & .sectionTitle{
     margin-top: 0;
    }
  }
}

.sectionTitle {
  font-family: Istok Web;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;

  margin-bottom: 20px;
  color: #231F20;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.termsList {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.termRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  padding: 32px 30px;
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #4D4D4D;

  &:nth-child(odd) {
    background-color: #F2F2F2;
  }
  /* @media screen and (max-width: 768px) {
    border-radius: ;
  } */
}

.termLabel {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
  color: #4D4D4D;
}

.termValue {
  font-family: Mulish;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
  color: #353535;
}

@media (max-width: 600px) {
  .termRow {
    padding: 8px 10px;
    border-radius: 0px;
  }

  .termLabel, .termValue {
    font-size: 10px;
  }
}

.tabsContainerWithShadow{
  box-shadow: 0px 4px 2px 0px #0000000D;

}