/* Desktop */
.root {
  /* Size */
  width: 100%;
  height: var(--topbarHeightDesktop);

  /* Layout for child components */

  padding: 0 0 0;

  /* fill */
  background-color: var(--colorWhite);

  /* shadows */
  box-shadow: var(--boxShadowLight);

  /* Add transition for smooth animation */
  transition: background-color 0.2s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.topbarContent {
  max-width: calc(1244px + 40px);
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landingLogo {
  width: 263px;
  height: 65px;
  margin: 36px auto 0;
  /* Animation */
  opacity: 0;
  transform: scale(0.95);
  animation: landingLogoFadeIn 0.7s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/* Add this for closing animation */
.landingLogoHide {
  animation: landingLogoFadeOut 5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes landingLogoFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Closing animation keyframes */
@keyframes landingLogoFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.scrolledTopbar {
  background-color: #fff !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) !important;
  margin-top: 0 !important;

  /* transition: background-color 0.6s cubic-bezier(0.23, 1, 0.32, 1); */
  & .profileMenuIcon {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 100px;
  }
}

.rightMenus {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* logo */
.logoLink {
  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);
  display: flex;
  justify-content: center;
  padding: 0;

  &>div {
    width: 114px !important;

    & img {
      max-height: 50px !important;
      width: 114px !important;
    }
  }
}

/* Search */
.searchLink {
  min-width: 320px;
  height: 100%;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--colorGrey100);
  margin-right: auto;
}

.spacer {
  min-width: 320px;
  height: 100%;
  margin-right: auto;
}

.search {
  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--colorGrey700);

  display: inline-block;
  margin: 28px 0;
  text-decoration: inherit;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
  }
}

.takeAvailableSpace {
  flex-grow: 1;

  /* At 1024px, the translations might need more space than what searchLink otherwise gets. */
  min-width: 220px;
}

.topbarSearchWithLeftPadding {
  padding-left: 24px;
  padding-right: 24px;
  height: var(--topbarHeightDesktop);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--viewportLarge) {
    padding-left: 34px;
  }
}

/* These is used with Inbox, Sign up, and Log in */
.topbarLink {
  flex-shrink: 0;

  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);

  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--colorGrey700);

  height: 100%;
  padding: 0 12px 0 12px;
  margin: 0;

  &:hover {
    color: var(--colorBlack);
    border-bottom: 4px solid var(--marketplaceColor);
    border-radius: 0;
    text-decoration: none;
  }

  @media (--viewportMedium) {
    line-height: 16px;
    margin: 0;
  }
}

.topbarLinkLabel {
  composes: textSmall from global;
  display: inline-block;
  margin: 28px 0;
  text-decoration: inherit;
  position: relative;
}

.notificationDot {
  /* Dimensions */
  width: 7px;
  height: 7px;
  border-radius: 50%;

  /* Position */
  position: absolute;
  top: 2px;
  right: -9px;

  /* Style: red dot */
  background-color: var(--colorFail);

  animation-name: notificationPop;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;

  animation-timing-function: ease-in;
  opacity: 0;
  transform: scale(0);
}

@keyframes notificationPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Profile menu */
.profileMenuLabel {
  border-bottom: 0px solid;
  transition: var(--transitionStyleButton);

  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: var(--colorGrey700);

  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;

  &:hover {
    border-radius: 0;
    text-decoration: none;
  }

  &:active {
    border-bottom: 0;
  }
}

.profileMenuIsOpen {

  &:hover {
    border-bottom: 0;
  }

  & rect {
    fill-opacity: 1;
  }
}

.avatar {
  margin: 16px 0;
}

.profileMenuContent {

  padding: 20px;
  padding: 20px;
  box-shadow: 0px 4px 10px 0px #0000001A;
  border-radius: 10px;
  min-width: 218px;
  right: 0 !important;
  left: unset !important;
  margin-top: 5px;
}

/* left animated "border" like hover element */
.menuItemBorder {
  position: absolute;
  top: 2px;
  left: 0px;
  height: calc(100% - 4px);
  width: 0;
  transition: width var(--transitionStyleButton);
}



.menuLink {
  composes: textSmall from global;
  position: relative;
  display: block;

  /* Dimensions */
  width: 100%;
  min-width: 178px;
  margin: 0;
  padding: 6px 24px;

  /* Layout details */
  color: var(--colorGrey700);
  text-align: left;
  transition: var(--transitionStyleButton);

  &:hover {
    color: var(--colorBlack);
    text-decoration: none;

    & .menuItemBorder {
      width: 6px;
      background-color: var(--marketplaceColor);
    }
  }

  @media (--viewportMedium) {
    margin: 0;
  }
}

.loginLink{
  width: 178px;
height: 41px;
border-radius: 10px;
padding: 10px;
gap: 10px;
background-color: #F74DF4;
font-family: Mulish;
font-weight: 700;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
color: #fff !important;
display: flex !important;
align-items: center;
justify-content: center;
}

.signupLink{
  border: 1px solid #F74DF4;
  width: 178px;
height: 41px;
border-radius: 10px;
border-width: 1px;
padding: 10px;
gap: 10px;
font-family: Mulish;
font-weight: 700;
font-size: 16px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
color: #F74DF4 !important;
display: flex !important;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.logoutButton {
  display: inline;

  /* Text size should be inherited */
  text-decoration: none;

  /* Font is specific to this component */
  font-weight: var(--fontWeightMedium);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;

  /* Dimensions */
  position: relative;
  width: 100%;
  min-width: 276px;
  margin: 0;
  padding: 20px 24px;

  /* Layout details */
  color: var(--colorGrey300);
  text-align: left;
  white-space: nowrap;
  transition: var(--transitionStyleButton);

  /* Borders */
  border: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--colorGrey100);
margin-top: 10px;
padding-bottom: 0;
  &:hover {
    cursor: pointer;
    color: var(--colorBlack);
    text-decoration: none;

    & .menuItemBorder {
      height: 100%;
      width: 6px;
      top: 0;
      background-color: var(--marketplaceColor);
    }
  }

  @media (--viewportMedium) {
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.currentPage {
  color: var(--colorBlack);
  position: relative;

  & .menuItemBorder {
    width: 6px;
    background-color: var(--colorBlack);
  }

  &:hover {
    & .menuItemBorder {
      background-color: var(--colorBlack);
    }
  }
}

.landingPageTopbar {
  background-color: transparent;
  box-shadow: unset;
  margin-top: 30px;
}

.profileMenuIcon {
  & svg {
    fill: transparent;
  }
}

.customLinksMenuWrapper {
  &>div {
    justify-content: flex-start;
    height: auto;

    & a {
      width: 100%;
      display: block;
      padding: 0;
      color: var(--colorBlack);

      &:hover {
        border: 0;
      }

      & span {
        margin: 0;
      }
    }
  }
}


.filtersWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
width: 100%;
 
  background-color: var(--colorWhite);
  z-index: 10;
  margin-top: 0px;
}

.filtersButton{
  width: max-content;
  height: 38px;
  min-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  
}


.tabs{
  display: flex;
  /* box-shadow: 0px 4px 10px 0px #0000000D; */
padding: 5px;
  border: 1px solid  #F2F2F2;

  border-radius: 20px;

  
}

.tab{
padding: 3px 25px;
display: flex;
gap: 8px;
align-items: center;
&:not(:last-child){
  border-right: 1px solid #F0F0F0;
}

}

.tabText{
  font-family: Mulish;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
color: #C4C4C4;

}

.tabIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  & svg {
    width: 20px;
    height: 20px;
  }
}

.activeTab {
  
  & .tabText {
    color: #231F20;
  }
  
  & .tabIcon {
    & svg {
     width: 30px;
     height: 30px;
    }
  }
}