.root {
  width: 100%;
  border-top: 1px solid var(--color-smoke);
  padding-top: 24px;
  margin-top: 24px;
}

.section {
  color: #231f20;
}

.sectionTitleButton {
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-weight: var(--fontWeightBold);
  font-family: 'Mulish';
  font-size: 16px;

  & svg {
    margin-top: 4px;
  }
}

.optionsContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.1s ease-in-out;
}

.optionsContainerOpen {
  grid-template-rows: 1fr;
}

.optionsWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.optionButton {
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  padding: 12px 0;
  text-align: right;
  font-weight: var(--fontWeightSemiBold);
}

.optionButton:hover {
  color: var(--marketplaceColor);
}

.optionButton.selected {
  color: var(--marketplaceColor);
}

.currencyOption {
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  padding: 4px 12px;
  margin-bottom: 8px;
  text-align: left;
}

.currencyOption.selected {
  border: 1px solid var(--marketplaceColor);
}

.currencyName {
  font-weight: var(--fontWeightSemiBold);
}

.currencyCode {
  display: block;
  color: #818181;
  font-size: 12px;
}
