@import '../../../../styles/customMediaQueries.css';

.root {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 16px;
  font-family: 'Mulish';
  overflow-y: auto;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-height: 70vh;
}

.accountLinksWrapper,
.customLinksWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
.accountLinksWrapper {
  margin: 36px 0;
}

.footer {
  order: -2;
  margin-bottom: 24px;
  align-self: flex-end;
}

.avatar {
  /* Layout */
  flex-shrink: 0;
  margin: var(--TopbarMobileMenu_topMargin) 0 0 0;
  align-self: center;
}

.greeting {
  /* Font */
  font-weight: var(--fontWeightBlack);
  font-size: 22px;
  line-height: 1.3;
  color: #231f20;

  padding: 3px 0 3px 0;
  margin-bottom: 1px;
  margin-top: 16px;
  text-align: center;

  @media (--viewportMedium) {
    font-size: 40px;
    line-height: 56px;
    padding: 5px 0 3px 0;
    /* x * 8px */
    margin-top: 24px;
  }
}

.logoutButton {
  /* Position and dimensions */
  display: inline;

  /* Borders */
  border: none;

  /* Text size should be inherited */
  text-decoration: none;

  /* Logout font is smaller and gray since the action is not recommended. */
  font-weight: var(--fontWeightSemiBold);
  font-size: 16px;
  line-height: 1.3;

  color: var(--colorGrey300);

  /* Position component */
  margin: 4px 0 8px 0;
  padding: 0;
  align-self: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    margin: 0 0 36px 0;
  }
}

.customLinkFont {
  /* Font */
  font-weight: var(--fontWeightBold);
  font-size: 16px;
  line-height: 1.3;

  padding: 4px 0 2px 0;
  /* x * 6px */
  text-align: right;

  @media (--viewportMedium) {
    font-size: 30px;
    line-height: 40px;
    padding: 1px 0 7px 0;
  }
}

.inbox {
  /* Font */
  composes: customLinkFont;
  color: var(--marketplaceColor);
  position: relative;

  margin-top: auto;
  margin-bottom: 13px;
  text-align: right;
}

.navigationLink {
  /* Font */
  composes: customLinkFont;
  color: #231f20;

  /* Layout */
  margin-top: 0;
  text-align: right;

  &:hover {
    color: var(--marketplaceColor);
    text-decoration: none;
  }
}

.currentPageLink {
  color: var(--marketplaceColor);
}

.notificationBadge {
  position: absolute;
  top: 4px;
  right: -26px;

  /* This is inside a link - remove underline */
  &:hover {
    text-decoration: none;
  }
}

.createNewListingLink {
  /* Font */
  font-weight: var(--fontWeightBold);
  font-size: 21px;
  line-height: 24px;
  color: var(--marketplaceColor);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.authenticationGreeting {
  /* Font */
  composes: h1 from global;

  margin-bottom: 48px;
  margin-top: var(--TopbarMobileMenu_topMargin);
}
.authenticationLinks {
  white-space: nowrap;
}

.signupLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}
.loginLink {
  text-decoration: none;
  white-space: nowrap;
  color: var(--marketplaceColor);
}

.currentPage {
  color: var(--marketplaceColor);
}

.spacer {
  width: 100%;
  height: 124px;
}
