@import '../../styles/customMediaQueries.css';

/* Mobile-first styles */
.container {
  @media (--viewportMedium) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.root {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fed5fd 100%);
  margin: 40px 8px 0;
  border-radius: 10px;
  position: relative;
  height: 570px;
  width: 100%;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  padding: 40px 24px;
}

@media (--viewportMedium) {
  .root {
    background: linear-gradient(to right, #ffffff 0%, #ffffff 20%, #ffd1fe 100%);
    margin: 80px auto 32px auto;
    border-radius: 20px;
    height: auto;
    max-width: 1242px;
  }

  .root::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 100vw;
    background: #ffffff;
    /* z-index: -1; */
    border-radius: 10px 0 0 10px;
    padding-left: 12px;
  }

  .inner {
    padding: 64px 0;
    /* padding-left: 100px; */
  }
}

.content {
  text-align: center;
  padding: 0;
  z-index: 1;
  position: relative;
}

@media (--viewportMedium) {
  .content {
    max-width: 1200px;
    /* margin: 0 auto; */
    text-align: left;
    /* padding: 0 24px; */
  }
}

.textContent {
  max-width: 300px;
  margin: 0 auto;
}

@media (--viewportMedium) {
  .textContent {
    max-width: 480px;
    margin: 0;
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-top: 0;
  color: #231f20;
}

@media (--viewportMedium) {
  .title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

.subtitle {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 16px;
  color: #8d8d8d;
}

@media (--viewportMedium) {
  .subtitle {
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
  }
}

.tagline {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
  color: #231f20;
}

@media (--viewportMedium) {
  .tagline {
    font-size: 18px;
    margin-bottom: 32px;
    color: #4a4a4a;
  }
}

.button {
  background-color: #f74df4;
  width: fit-content;
  color: white;
  border: none;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  min-height: auto;
}

@media (--viewportMedium) {
  .button {
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 8px;
    margin: 0;
  }
}

.button:hover {
  background-color: white;
  color: #f74df4;
  box-shadow: none;
}

.circleLineLeft,
.circleLineRight {
  position: absolute;
  border: 1px solid;
  border-radius: 50%;
  z-index: 0;
}

.circleLineLeft {
  width: 438px;
  height: 437px;
  top: 334px;
  left: 34px;
  border-color: #f74df4;
}

@media (--viewportMedium) {
  .circleLineLeft {
    width: 1019px;
    height: 1019px;
    top: -239px;
    right: -340px;
    left: auto;
  }
}

.circleLineRight {
  width: 446px;
  height: 446px;
  top: 285px;
  left: 23px;
  border-color: #ffc7fe;
}

@media (--viewportMedium) {
  .circleLineRight {
    width: 1040px;
    height: 1039px;
    top: -352px;
    right: -332px;
    left: auto;
  }
}

.sofa {
  display: block;
  position: absolute;
  /* width: 380px; */
  height: 257px;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: right bottom;
}

@media (--viewportMedium) {
  .sofa {
    height: 344px;
    right: 0;
    left: auto;
    bottom: 0;
    width: auto;
  }
}
