@import '../../styles/customMediaQueries.css';

.error {
  margin-top: 5px;

  @media (--viewportMedium) {
    margin-top: 4px;
  }
  @media (--viewportLarge) {
    margin-top: 3px;
  }
}

.error {
  color: var(--colorFail);
}

.container {
  composes: container from '../../components/LayoutComposer/LayoutSideNavigation/LayoutSideNavigation.module.css';

  @media (--viewportLarge) {
    max-width: 1284px;
    margin: 0 auto;
  }
}

.aside {
  composes: sideNav from '../../components/LayoutComposer/LayoutSideNavigation/LayoutSideNavigation.module.css';
  box-shadow: none;

  @media (--viewportLarge) {
    flex: 1;
    width: auto;
    padding-left: 36px;
  }

  @media (--viewportLargeWithPaddings) {
    padding-left: 0;
  }
}

.mainColumn {
  composes: main from '../../components/LayoutComposer/LayoutSideNavigation/LayoutSideNavigation.module.css';
  border-radius: 8px;

  @media (--viewportLarge) {
    flex: 2;
    width: auto;
    border-left: none;
    padding-right: 36px;
    background-color: var(--colorWhite);
    margin-left: 24px;
    margin-top: 48px;
    padding: 20px;
  }

  @media (--viewportLargeWithPaddings) {
    /* padding-right: 0; */
  }
}

.asideContent {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;

  @media (--viewportLarge) {
    width: 400px;
    margin-bottom: 0;
  }
}

.asideHeader {
  height: 150px;
  background-image: url('./gradient-pink.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.asideMain {
  padding: 0 20px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.avatarContainer {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;
}

.avatar {
  margin: 0;
  width: 100px;
  height: 100px;
  border: 4px solid #fba6f9;
  border-radius: 50%;
  background-color: var(--colorWhite);
}

.badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    fill: transparent;
    width: 30px;
    height: 30px;
  }
}

.userInfo {
  text-align: center;
  margin-bottom: 40px;
}

.helloText {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 8px 0;
  color: #231f20;
}

.displayName {
  font-family: 'Istok Web', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 8px 0;
  color: #231f20;
}

.userType {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: #fba6f9;
  margin: 0;
}

.section {
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
}

.sectionTitle {
  font-family: 'Istok Web', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 8px 0;
  color: #231f20;
}

.bioText {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  color: #5e5e5e;
  white-space: pre-line;
}

.sectionValue {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  color: #5e5e5e;
}

.listingsCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background-color: var(--colorWhite);
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  height: 57px;
}

.listingsIconContainer {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;

  & > svg {
    width: 24px;
    height: 24px;
  }
}

.listingsCount {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 0;
  color: #231f20;
}

.listingsLabel {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #231f20;
  margin: 0;
}

.editLinkMobile {
  margin-top: 24px;
  composes: textSmall from global;
  color: var(--marketplaceColor);

  @media (--viewportLarge) {
    display: none;
  }
}

.editLinkDesktop {
  display: none;

  @media (--viewportLarge) {
    display: inline-block;
    margin-top: 24px;
    composes: textSmall from global;
    color: var(--marketplaceColor);
  }
}

.mobileHeading {
  display: none;
}

.editLinkMobile {
  margin-top: 17px;

  /* Pull the link to the end of the container */
  margin-left: auto;

  @media (--viewportMedium) {
    margin-top: 20px;
  }
  @media (--viewportLarge) {
    display: none;
  }
}

.editLinkDesktop {
  display: none;

  @media (--viewportLarge) {
    display: inline;
    padding: 6px 0 2px 0;
  }
}

.desktopHeading {
  display: none;

  @media (--viewportLarge) {
    display: block;
    margin: 0 0 24px 0;
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}

.bio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 5px 0 24px 0;

  @media (--viewportMedium) {
    margin: 4px 0 51px 0;
  }
  @media (--viewportLarge) {
    margin: 0 0 56px 0;
    max-width: 100%;
  }
}

.listingsContainer {
  composes: clearfix from global;
  padding-bottom: 23px;

  @media (--viewportMedium) {
    padding-bottom: 22px;
  }
}

.listingsTitle {
  color: var(--colorGrey700);
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.toggleContainer {
  display: flex;
  align-items: center;
}

.toggleButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  gap: 4px;
  width: 102px;
  height: 46px;
  border: 1px solid #f74df4;
  border-radius: 50px;
  background-color: var(--colorWhite);
  cursor: pointer;
  transition: all 0.2s ease;

  /* Button Text Style */
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #231f20;

  &:hover,
  &.toggleButtonActive {
    background-color: #fba6f933;
  }
}

.toggleIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.toggleIconClose {
  color: #f74df4;
  line-height: 24px;
  width: 24px;
}

.mapContainer {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 24px;
  border: 1px solid #f2f2f2;
}

.mapWrapper {
  min-width: 400px;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

.mapRoot {
  background-color: var(--colorGrey100);
}

.map {
  width: 100%;
  height: 100%;
}

.withBioMissingAbove {
  /* Avoid extra borders in mobile when bio is missing */
  border-top: none;

  @media (--viewportLarge) {
    border-top: 1px solid var(--colorGrey100);
  }
}

.listings {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.listing {
  width: 100%;

  /* Single column in mobile */
  margin-top: 34px;
  &:first-of-type {
    margin-top: 18px;
  }

  @media (--viewportMedium) {
    /* Two columns in desktop */
    width: calc(50% - 12px);
    margin-bottom: 36px;

    /* Horizontal space */
    &:nth-of-type(odd) {
      margin-right: 12px;
    }
    &:nth-of-type(even) {
      margin-left: 12px;
    }

    /* Vertical space */
    margin-top: 0;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 20px;
    }
  }
}

.mobileReviewsTitle {
  margin: 24px 0 26px 0;
}

.mobileReviews {
  border-top: 1px solid var(--colorGrey100);
  margin-bottom: 36px;
}

.desktopReviews {
  border-top: 1px solid var(--colorGrey100);

  @media (--viewportMedium) {
    margin-bottom: 48px;
  }

  @media (--viewportLarge) {
    margin-bottom: 0;
  }
}

.desktopReviewsWrapper {
  max-width: 100%;
  margin-top: 28px;
}

.desktopReviewsTitle {
  composes: textLarge from global;
  margin-bottom: 0;
}

.desktopReviewsTabNav {
  margin-bottom: 32px;
}

.sectionText {
  padding: 0 24px;
  margin-bottom: 30px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 40px;
  }
}

/* 
 * Custom field component classes 
 */

.sectionHeading {
  /* Font for sections titles */
  composes: p from global;
  padding: 0;
  font-weight: var(--fontWeightBold);

  margin-top: 0;
  margin-bottom: 12px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.text {
  font-weight: var(--fontWeightRegular);
  padding: 1px 0 5px 0;
  margin: 0;

  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;

  @media (--viewportMedium) {
    padding: 3px 0 5px 0;
    margin: 0;
  }
}

.ingress {
  composes: p from global;
  margin: 0;

  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.sectionMultiEnum,
.sectionDetails,
.sectionEmbeddedYoutubeVideo {
  padding: 0 24px;
  margin-bottom: 30px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 40px;
  }
}

.details {
  padding-bottom: 1px;
  margin: 0;
}

.detailsRow {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  font-weight: var(--fontWeightRegular);
  line-height: 24px;
  padding: 7px 0px 10px;
  gap: 8px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--colorGrey100);
  }

  @media (--viewportMedium) {
    padding: 5px 0 2px 0;
    line-height: 32px;
  }
}

.detailLabel {
  font-weight: var(--fontWeightSemiBold);
  letter-spacing: -0.09px;
}

.video {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
