@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  /* sticky result summary in mobile */
  position: sticky;
  top: 0;
  z-index: 3;
}

.isMapOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  background-color: #fff;

  & .buttons>*:nth-child(2) {
    border-right: 0 !important;
  }

  & .mapIcon {
    background-color: #FBA6F933;
    border: 1px solid #F74DF4;
    border-radius: 20px;
    height: 34px;

  }

}

.searchResultSummary {
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;

  margin-top: 6px;

  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 21px;



  @media (--viewportMedium) {
    margin-top: 8px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-3-background-opsi-1, #F0F0F0);
  border-radius: 20px;
  padding: 5px 20px;
  margin: 0px;

  &>* {
    flex: 1;
    padding: 3px 0;
    @media (max-width: 768px) {
 
      border-radius: 20px;
      height: 34px;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--light-3-background-opsi-1, #F0F0F0) !important;
    }
  }
}

.mapIcon {
  /* Font */
  composes: marketplaceTinyFontStyles from global;
  font-weight: var(--fontWeightMedium);

  /* background map image */
  /* background-image: url(./images/map_icon216x105.png);
  background-size: cover; */

  border-radius: 3px;
  width: max-content;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: Mulish;
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;

  & svg {
    fill: transparent;
  }
}

.modalContainer {
  width: 100%;
  padding: 94px 0;
  margin: 0 24px;
}

.filterIcon {
  margin-right: 10px;
}

.modalHeadingWrapper {
  padding-bottom: 31px;
  border-bottom: 1px solid var(--colorGrey100);
}

.modalHeading {
  composes: h1 from global;
  margin-top: 0;
}

.resetAllButton {
  composes: h5 from global;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey300);

  /* Layout */
  display: inline;
  float: right;
  margin: 8px 0 0 0;
  padding: 0;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;

  &:focus,
  &:hover {
    color: var(--colorGrey700);
  }
}

.filtersWrapper {
  /* add bottom margin so that the last filter won't be hidden
   * under the mobile safari bottom bar or the "Show results"
   * button bar */
  padding-bottom: 220px;
}

.showListingsContainer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100vw;
  padding: 18px 24px;

  background: var(--colorWhite);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 11;
}

.showListingsButton {
  background-color: var(--marketplaceColor);
  display: inline-block;
  border-radius: 3px;
}